.fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--primary);
    padding: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fullscreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    --color: var(--primary-inverse)
}